<!DOCTYPE html>
<html lang="en">

<head>
	<title>Frijoles con queso</title>
	<meta charset = "utf-8" />
	
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
	<meta name="viewport content = "width-device-width, initial-scale=1.0">
</head>

<body class = "body">
	<header class="mainHead">
		<img src = "/static/img/ideasofmarch.png" width="100" height="100">
		<p class = 'logoText'>My name is Daniel Diaz. Welcome to my blog. <a href = "https:www.twitter.com/dcarrotwo">@dcarrotwo</a></p>
		<nav><ul>
			<li><a href='/'>Home</a></li>
			<li><a href='/blog/'>Blog</a></li>
			<li><a href='/blog/latestnews/'>Archive</a></li>
            <li><a href="/blog/projects/">Projects</a></li>
		</ul></nav>
	</header>
	
	<aside class="sideInfo">
		<article>
			<h3>Recent news</h3>
			{% for post in object_list %}
			<p> {{ post.date|date:"Y-m-d" }}<a href="/blog/{{ post.id}}"> {{ post.title }}</a></p>
			{% endfor %}
		</article>
	</aside>
	
	{% block content %}
	
	{% endblock %}
	
	<footer class ="mainFooter">
		<p> copyright &copy; 2014 </p>

	</footer>
</body>
</html>